<nav>
    {{#if isHome }}
        <a class="active" href="/">Главная</a>
    {{ else }}
        <a href="/">Главная</a>
    {{/if}}

    {{#if isCourses }}
        <a class="active" href="/courses">Курсы</a>
    {{ else }}
        <a href="/courses">Курсы</a>
    {{/if}}

    {{#if isAuth}}

        {{#if isAdd }}
            <a class="active" href="/add">Добавить курс</a>
        {{ else }}
            <a href="/add">Добавить курс</a>
        {{/if}}

        {{#if isCard }}
            <a class="active" href="/card">Корзина</a>
        {{ else }}
            <a href="/card">Корзина</a>
        {{/if}}

        {{#if isOrder }}
            <a class="active" href="/orders">Заказы</a>
        {{ else }}
            <a href="/orders">Заказы</a>
        {{/if}}

        {{#if isProfile }}
            <a class="active" href="/profile">Профиль</a>
        {{ else }}
            <a href="/profile">Профиль</a>
        {{/if}}

        <a href="/auth/logout">Выйти</a>
    {{else}}

        {{#if isLogin }}
            <a class="active" href="/auth/login">Войти</a>
        {{ else }}
            <a href="/auth/login">Войти</a>
        {{/if}}

    {{/if}}
</nav>
