{{#if error}}
    <p class="auth-error">{{error}}</p>
{{/if}}

<h1>Добавить новый курс</h1>

<form action="/add" method="POST">
    <label>
        Имя курса:
        <input type="text" name="title" value="{{data.title}}" required />
    </label>

    <br />
    <br />

    <label>
        Цена курса:
        <input type="number" name="price" value="{{data.price}}" required min="1" />
    </label>

    <br />
    <br />

    <label>
        URL картинки:
        <input type="text" name="image" value="{{data.image}}" required />
    </label>

    <br />
    <br />

    <input type="hidden" name="_csrf" value="{{csrf}}" />

    <button>Добавить курс</button>
</form>
