<h1>Курсы</h1>
{{#if courses.length}}
    {{#each courses}}
        <div class="course">
            <img src="{{image}}" alt="{{title}}" />
            <h1>Курс: {{title}}</h1>
            <h2>
                Цена: {{price}}
                <a href="/courses/{{_id}}">Посмотреть курс</a>

                {{#if @root.isAuth}}
                    <a href="/courses/{{_id}}/edit?allow=true">Изменить курс</a>

                    <form action="/card/add" method="post">
                        <input type="hidden" name="id" value="{{_id}}" />
                        <input type="hidden" name="_csrf" value="{{@root.csrf}}" />
                        <button type="submit">Купить курс</button>
                    </form>
                {{/if}}
            </h2>
        </div>
    {{/each}}
{{else}}
    <p>Курсов пока нет</p>
{{/if}}
